/* || basic set up + sizing for containers */

html, body {
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: 'FeuraSans', sans-serif;
}

body {
  width: 100%;
  height: inherit;
  overflow: hidden;
}

#map_canvas {
  width: 100%;
  height: 95%; 
}

/* || positioning of other elements */

h1 {
  font-size: 2.5rem;
  line-height: 4.8rem;
  min-height: 5rem;
  height: auto;
  margin: 0;
  padding-left: 0.5rem;
  color: white;
  background: url("../img/header.png") repeat-x scroll 0px 0px / auto 100% transparent;
}

button {
  position: absolute;
  height: 4.1rem;
  border-radius: 5px;
  background: url("../img/default.png") repeat-x scroll left bottom / auto 100% rgb(250, 250, 250); 
  border: 0.1rem solid rgb(166, 166, 166);
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem; 
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 3.8rem;
  color: rgb(51, 51, 51);
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0px rgba(255, 255, 255, 0.3);
  text-decoration: none;
  outline: medium none;
}

.enable {
  top: 0.3rem;
  right: 17.4rem;
}

.revoke {
  top: 0.3rem;
  right: 0.4rem;
}

@media (max-width: 380px) {
  h1 {
    font-size: 2rem;
  }
  
  button {
    font-size: 1.2rem;
  }
}